# Environment variables
SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Analytics (Vercel)
# NEXT_PUBLIC_VERCEL_ANALYTICS_ID=

# Newsletter API (optional)
# NEWSLETTER_API_KEY=

# Contact Form (optional)
# RESEND_API_KEY=
# CONTACT_EMAIL=
